.db-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

/*Sidebar*/
.db-sidebar {
    background-color: white;
    width: 16%;
    height: 100%;
}

/*Upper sidebar*/
.db-sidebar .opt {
    height: 42%;
    border-bottom: solid 1px #868585;
}
.db-opt a{
    text-decoration: none;
    color: black;
}

.db-logo {
    width: 5em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-logo img {
    width: 2.5em;
    height: auto;
}

.db-Logoname {
    margin-top: 10px;
}

.db-Logoname h4 {
    margin-bottom: -5px;
    font-weight: 500;
}

.db-Logoname p {
    font-size: 13px;
    color: #868585;
}

.db-sidebar_link {
    text-decoration: none;
    color: white;
    width: fit-content;
}

.db-sidebar_item {
    display: flex;
    align-items: center;
    padding-left: 1.4em;
    cursor: pointer;
    height: 3em;
    border-radius: 5px;
}

.db-sidebar_item:hover {
    background-color: rgb(195, 195, 195);
}

.db-sidebar_item h3 {
    color: #454545;
    font-weight: 500;
    font-size: 1em;
    margin-top:.3em;
    margin-left:1em;
}

/*Icon*/
.db-sidebar_img {
    color: #454545;
    width: 1.5em;
    height: auto;
    margin-right: .5em;
}


/*Lower Sidebar*/
.db-overview h4 {
    color: #454545;
    margin-top: 0em;
    margin-bottom: 1.5em;

}

.db-taskovr {
    height: 8em;
    width: 15em;
    border: solid 1px #acacac;
    display: flex;
    border-radius: 10px;
    margin-bottom:1em;
}
.db-taskovr:hover {
    background-color: #767676;
    color:white;
}

.db-taskovr p {
    margin-top: 1.2em;
}
.db-taskovr h2{
    margin-top:2em;
}



/*Content*/
.db-content {
    width: 80%;
    height: 100%;
}

/*header*/
.db-header {
    width: 100%;
    height: 10%;
    background-color: white;
}

.db-header p {
    font-size: 20px;
    font-weight: 700;
    margin-left: 1.5em;
    margin-top: 1em;
}

.db-header .db-headerstuff {
    width: auto;
    padding: 1em 1em;
    display: flex;
}

.db-addtaskbtn {
    height: 3em;
    width: 10em;
    font-size: 13px;
    margin-right: 3em;
    padding-top: .8em;
    background-color: #868585;
    border: none;
    color: white;
}

.db-addtaskbtn:hover {
    height: 3em;
    width: 10em;
    font-size: 13px;
    margin-right: 3em;
    padding-top: .8em;
    background-color: #454545;
    border: none;
    color: white;
    cursor: pointer;
}

/*main*/
.db-main {
    display: flex;
    width: 100%;
    height: 80%;
}

/*board*/
.db-board {
    height: 100%;
    width: 85%;
}

/*upper*/
.db-upper {
    display: flex;
    width: 100%;
    height: 50%;
}

/*map*/
.db-map {
    height: 100%;
    width: 50%;
}

.db-map h4 {
    margin-top: .3em;
    margin-bottom: .5em;
    margin-left: 1.5em;
}

.db-mapping {
    width: 100%;
    height: 85%;
    margin-left: 2.5em;
    margin-top: -.5em;
}

.db-calendar {
    height: 100%;
    width: 50%;
    margin-left:15em;
}

.db-calendar h4 {
    margin-top: .3em;
    margin-bottom: .5em;
    margin-left: 1.5em;
}

.db-calendaring {
    width: 90%;
    height: 75%;
    margin-left: 2.5em;
    margin-top: -.5em;
}
.react-calendar__navigation button {
    background-color: #acacac !important;

}
.react-calendar__month-view__weekdays div{
    background-color: #e0e0e0 !important;
}


/*tasklist*/
.db-tasklist {
    height:18em;
    width:22em;
    background-color: #acacac;
    border-radius: 15px;
    margin-left: 2.5em;
    margin-top:1em;
    padding:1em;
}
.db-checkList h4{
    margin-left:0em;
}




/*Map*/
.db-map a{
    text-decoration: none;
    color:black;
}