.jain4-container{
    position: absolute;
    display: flex;
    width:100%;
    height:100%;
}
/*Sidebar*/
.jain4-sidebar{
    background-color: white;
    width:20%;
    height:100%;
    border-right: solid 1px #868585;
}
/*Upper sidebar*/
.jain4-sidebar .opt{
    height:48%;
    border-bottom: solid 1px #868585;
}
.jain4-logo {
    width: 5em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jain4-logo img{
    width: 2.5em;
    height: auto;
}
.jain4-Logoname{
    margin-top:10px;
}
.jain4-Logoname h4{
    margin-bottom:-5px;
    font-weight: 500;
}
.jain4-Logoname p{
    font-size:13px;
    color: #868585;
}
.jain4-sidebar_link {
    text-decoration: none;
    color: white;
    width: fit-content;
}
.jain4-sidebar_item {
    display: flex;
    align-items: center;
    padding-left: 1.4em;
    cursor: pointer;
    height:3em;
    border-radius: 5px;
}
.jain4-sidebar_item:hover{
    background-color: rgb(195, 195, 195);
}
.jain4-sidebar_item h3{
    color:#454545;
    font-weight: 500;
    font-size: .9em;
}
/*Icon*/
.jain4-sidebar_img{
    color:#454545;
    width: 1.5em;
    height: auto;
    margin-right:.5em;
}


/*Lower Sidebar*/
.jain4-overview h4{
    color:#454545;
    margin-top:2em;
    margin-bottom: 1.5em;

}
.jain4-taskovr{
    height:5em;
    width:15em;
    border: solid 1px #acacac;
    display: flex;
}
.jain4-taskovr p{
    margin-top:.6em;
}
.jain4-taskovr h1{
    margin-top:1em;
    margin-left:-4em;
    font-weight: 450;
    font-size:35px;
}


/*Content*/
.jain4-content{
    width:100%;
    height: 100%;
}
/*header*/
.jain4-header{
    width:100%;
    height:10%;
    background-color: white;
    border-bottom: solid 1px #454545;
}
.jain4-header p{
    font-size:20px;
    font-weight: 700;
    margin-left: 1.5em;
    margin-top:1em;
}
.jain4-header .jain4-headerstuff{
    width:auto;
    padding:1em 1em;
    display: flex;
    justify-content: center;
}
.jain4-addtaskbtn{
    height:3em;
    width:10em;
    font-size: 13px;
    margin-right:3em;
    padding-top:.8em !important;
    background-color: #868585;
    border: none;
    color:white;
}
.jain4-addtaskbtn:hover{
    height:3em;
    width:10em;
    font-size: 13px;
    margin-right:3em;
    padding-top:.8em;
    background-color: #454545;
    border: none;
    color:white;
    cursor:pointer;
}

/*main*/
.jain4-table{
    margin-left:5em;
    margin-top:3em;
}

.jain4-sr-only{
    display: none;
}
.jain4-row{
    margin-left:5em !important;
}
table th{
    text-align: center;
}
.jain4-page-link{
    color:#6c757d !important;
}
.active>.jain4-page-link, .jain4-page-link.active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color:white !important;
}
.react-bootstrap-table-pagination{
    margin-top:3em !important;
    padding: 0em 2em;
}