.mapboxgl-map{
  z-index:00;
}
.map-container {
  height: 100vh;
}
.map-container .mapboxgl-ctrl-logo {
  display: none;
}
.map-container .mapboxgl-ctrl-attrib {
  display: none;
}
  
 
.map-holder{
  z-index:0;
  background-color: #363636;
  color:white;
  padding-top:.5em;
  padding-bottom:.5em;
  padding-left:5em;
}
.map-holder form{
  display:flex;
}
.map-holder h5{
  margin-left:-.5em;
  margin-right:1em;
  padding-top:.5em;
}
.map-holder input{
  margin-right:0.2em;
  height:2.5em;
  width:10em;
  border-radius: 5px;
  border:none;
}
.map-holder select{
  margin-right:0.2em;
  height:2.5em;
  width:10em;
  border-radius: 5px;
  border:none;
}
.map-holder .submit{
  height:2em;
  width:8em;
  margin-top:.2em;
  background-color: #acacac;
  margin-right:3em;
}
.map-holder #onclick{
  height:2em;
  width:6em;
  background-color: #acacac;
  display: flex;
  justify-content: center;
  padding-top:.2em;
  color:black;
  border-radius: 5px;
  margin-top:.2em;
  margin-right:2em;
  cursor: pointer;
}

#assign .assign{
  height:2em;
  width:8em;
  margin-top:.2em;
  background-color: #acacac;
  margin-right:10em;
}


.marker {
  background-image: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-512.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  width: 200px;
  height:80px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



#instructions {
  position: absolute;
  margin: 20px;
  width: 20%;
  top: 10%;
  bottom:20%;
  padding: 20px;
  background-color: #fff;
  overflow: scroll;
  font-family: sans-serif;
  font-size: 15px;
  z-index: 2;
}
