.task-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.task-container button {
    border-radius: 5px;
}

.task-container button:hover {
    background-color: rgb(77, 100, 121);
}

.task-wrapper {
    justify-content: center;
}

.blank {
    height: 5vh;
}

.task-button {
    padding: 0.8em;
    margin: 1em;
}

.task-board {
    border: 1px solid black;
    height: 20vh;
    border-radius: 5px;
    margin-bottom: 1em;
    /* display: flex; */
}

.task-board-up {
    display: flex;
}

.task-board-decision {
    justify-content: center;
}

.task-board-decision button {
    margin: 1em;
}

.task-board-date {
    height: 10vh;
    width: 20%;
    margin: 1em;
    background-color: aliceblue;
    text-align: center;
}

.task-board-dateinside {
    justify-content: center;
}

.task-name {
    margin-top: 1em;
    height: 10vh;
}

.div:hover {
    background-color: blanchedalmond;
}

.task-board-status {
    margin-left: 2.2em;
    height: 12vh;
}

.task-board-status h5 {
    margin-top: 0.3em;
    margin-left: 2em;
    border: 0.4px solid black;
    border-radius: 7px;
    background-color: grey;
}

.task-board-status h4 {
    margin-top: 1.5em;
}

.app-tool {
    height: 5vh;
}