{%load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href='{% static "css/home.css" %}'>


    
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <body>
    <h1 class="title">UWC 2.0</h1>
    <div class="container">
        <div class="login">
            <div>
                <h1><b>REGISTER</b></h1>
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="3ZE4veKt4M3iKzjk08eRBBqDtFn18jreClkSNumiVkqaguPa1s3SaNFsuz4IC8AR">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Fullname">
                    </div>
                    <div class="form-group">
                        <label for="dateofbirth"><i class="zmdi zmdi-book"></i></label>
                        <input type="date" name="date" id="dateofbirth" placeholder="Date of birth">
                    </div>
                    <div class="form-group">
                        <label for="ReID"><i class="zmdi zmdi-card"></i></label>
                        <input type="text" name="ReID" id="ReID" placeholder="Residential Id">
                    </div>
                    <div class="form-group">
                        <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                        <input type="text" name="phone" id="phone" placeholder="Phone number">
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Retype password">
                    </div>
                    <div class="row" style="margin-bottom:-15px;">
                        <p style="margin-top:10px;margin-bottom:-20px;">Register as</p>
                        <div class="tick" style="width:50%;">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Back officer</label>
                        </div>
                        <div class="tick" style="width:50%;">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Staff (Collector/Janitor)</label>
                        </div>
                    </div>
                    <div class="tick">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I have read and agreed to the <a href="#" class="term-service" style="color: #c1292e">terms</a> &amp; 
                            <a href="#" class="privacy-policy" style="color: #c1292e">conditions.</a></label>
                    </div>
                    <div class="form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="REGISTER">
                    </div>
                </form>
            </div>
        
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>



  
</html>